<h1 class="page-header">Companies</h1>
<div class="container" ng-repeat="d in companies">
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>{{d.legalName}}</b>
      <span class="pull-right">
        <b>Address: </b>{{d.address}}
      </span>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li><b>Industry:</b> {{d.industry}}</li>
        <li><b>Employees: </b>{{d.employees}}</li>
        <li><b>Revenue: </b>{{d.address}}</li>
      </ul>
      <a href="#" ui-sref="details({companyId: d.companyId})" class="btn btn-primary">Details</a>
    </div>
  </div>
</div>
