<h1 class="page-header"><a href="" ui-sref="list">&lt;</a> {{companyData.legalName}}</h1>
<div class="container">
  <p>
    <b>Address: </b> {{companyData.address}}<br/>
    <b>Revenue: </b> {{companyData.revenue}}<br/>
    <b>Employees: </b> {{companyData.employees}}<br/>
    <b>Industry: </b> {{companyData.industry}}
  </p>

  <form class="form-horizontal">
    <div class="form-group text-right row">
      <div class="col-xs-2 nopadding">
        <button class="btn btn-default pull-left" ng-click="showMax()" ng-hide="onlyMax">Show
          Max 10 changes
        </button>
        <button class="btn btn-default pull-left" ng-click="showAll()" ng-show="onlyMax">Show
          All
        </button>
      </div>
      <div class="col-xs-6">
        for:
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" ng-click="setTimeDiff(1)">last day</button>
          <button type="button" class="btn btn-default" ng-click="setTimeDiff(7)">last week</button>
          <button type="button" class="btn btn-default" ng-click="setTimeDiff(30)">last month</button>
        </div>
      </div>
      <div class="col-xs-4">
        Bond:

        <select class="form-control" style="display:inline;width:120px" ng-model="selectedItem"
                ng-options="item.name for item in items"></select>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Price</th>
      <th>Cupon Rate</th>
      <th>CUSIP</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="price in prices | hasPrice:selectedItem | orderBy:'price':true">
      <td>{{::price.date}}</td>
      <td>{{::price.price | number:3}}</td>
      <td>{{::price.cuponRate}}</td>
      <td>{{::price.cusip}}</td>
    </tr>
    </tbody>
  </table>


</div>
